<div class="container-page">
  <div class="container-404">
    <div class="container-text-404">
      <div class="container-4">4</div>
      <div class="container-image">
        <img
          src="https://static.vecteezy.com/system/resources/previews/009/384/620/original/fresh-pizza-and-pizza-box-clipart-design-illustration-free-png.png"
        />
      </div>
      <div class="container-4">3</div>
    </div>
    <div class="container-text-paragraph">
      <p class="paragraph-1">FORBIDDEN</p>
      <p class="paragraph-2">
        We are sorry, but you do not have access to this page or resource.
      </p>
    </div>
    <div class="container-button">
      <button mat-raised-button color="primary" class="button-go-back">
        GO BACK
      </button>
    </div>
  </div>
</div>
